@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.card {
  
    position: relative;
    width: 320px;
    height: 420px;
    background: #DCDCDC;
    border-radius: 10px;
   box-shadow: 3px 3px 5px black;
   margin-top: 10%;
   overflow: hidden;
   margin-left: 50px;
}

.card:before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f3;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    transform: skewY(390deg); 
    top: -70%;
}

.card::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgBx img {
    max-width: 80%;
    transition: 0.5s;

}

.card:hover .imgBx img {
    max-width: 70%;

}

.card .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

.card .contentBx h3 {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBx .price {
    font-size: 24px;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contentBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBx .buy {
    top: 0px;
    opacity: 1;
}

.crd_list{
    display: flex;
    
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px black;
    border-radius:10px;
    width:400px;
    height:32px;

  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }