/*Menu*/

ul {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #6DB3F2;
    display: grid;
    background-image: linear-gradient( rgba(127, 255, 212, 0.2) 100%, rgba(127, 255, 212, 0.2) 100%), url('img/white-gray-geometric-pattern-background-vector_53876-136510.jpg');
}


a {
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(88, 214, 141, 0.5), rgba(213, 245, 227, 0.5));
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: flex;
    }

    #menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .3s;
        z-index: 1000;
        height: 0px;
        visibility: initial;
        overflow: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: hidden;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: flex;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*Modal*/

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    translate: 1000s;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 15%;
    /* Could be more or less, depending on screen size */
    margin-top: 4%;
    margin-left: 84%;
    background-color: rgba(127, 255, 212, 0.8);
    transition-delay: 1000s;
}

.modal-border-a {
    border: 1px solid #888;
    border-radius: 10px;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Carrossel*/

h1 {
    margin-top: 50px;
    margin-left: 510px;
    font-size: 60px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}

.slider-frame {
    overflow: hidden;
    height: 600px;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*slide animation*/

@-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/*Login*/

.tela-login {
    
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 80px;
    border-radius: 15px;
    color: white;
    display: none;
    z-index: 1;
    top: 20%;
    left: 40%;
    overflow: auto;
    /* Enable scroll if needed */
    translate: 1000s;
}

.tela-login-farma {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 80px;
    border-radius: 15px;
    color: white;
    display: none;
    z-index: 1;
    top: 20%;
    left: 40%;
    overflow: auto;
    /* Enable scroll if needed */
    translate: 1000s;
}

.modal-login {
    
}

.login-texto {
    float: left;
}

.input-login {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.close-login {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-login-farma {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.button-login {
    background-color: rgba(163, 228, 215, 1);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.button-login:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

/*Footer*/


* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: linear-gradient(rgba(213, 245, 227, 0.5), rgba(88, 214, 141, 0.5));
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
  
    
}

.container-footer a {
    font-family: 'Ubuntu', sans-serif;
    
}

.row-footer {
    display: flex;
    flex-wrap: wrap;

}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;

}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias {
    margin-top: 30px;

}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #cecdcd;
    border: 1px solid white;
    transition: all 0.5s ease;

}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    color: #415aca;
    background-color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}

@media (max-width:800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;

    }
}

@media (max-width:600px) {
    .footer-col {
        width: 100%;
    }
}

.sobre-footer {
    background: rgba(127, 255, 212, 0.2);
}




/*Cadastro*/


.box-cli{
    color: rgb(196, 191, 191);   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    display: none;
    z-index: 1;
}

.box-farma {
    color: rgb(196, 191, 191);   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    display: none;
    z-index: 1;
}

.close-cadastro {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-cadastro-farma {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

legend{
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.login_txt {
    text-align: center;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

.butt-enviar {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    text-align: center;
    border: none;
    float: right;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.box-prod {
    color: rgb(196, 191, 191);   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    display: none;
    z-index: 1;
}

.tipo_prod {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(196, 191, 191);   
    border-radius: 5px;
}

.close-cadastro-produto {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.estado {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(196, 191, 191);   
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.lista_prod {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.container_prod {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background: white;
}

.header_prod {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin: auto 12px;
}

.header_prod span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}



#new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
  }

.input-buscar {
    margin-left: 70%;
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(129, 236, 195, 0.5);
    outline: none;
}

.input-buscar-farma {
    margin-left: 70%;
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(129, 236, 195, 0.5);
    outline: none;
}

.button_busca_prod {
    margin-left: 10px;
    border: none;
    background: none;
}

.tr_lista {
    text-align: center; 
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, .2);
    background-color: rgb(2247, 220, 111, .9);
}

.tr_lista_farma {
    text-align: center; 
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, .2);
    background-color: rgb(124, 226, 240);
    border-radius: 5px;
}

.tr_editar {
    text-align: center; 
    padding: 5px;
    background:none;
    background-color: rgb(133, 193, 233, .8);
    border: solid 1px rgba(0, 0, 0, .2);
}

.tr_acessar {
    text-align: center; 
    width: 10%;
}

.btn-alterar-acesso {
    background-color: rgb(133, 193, 233, 0.7);
    border-radius: 5px;
}

.btn-alterar-acesso :hover {
    background-color: rgb(133, 193, 233, 1);
    border-radius: 5px;
}

.tr_excluir {
    text-align: center; 
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, .2);
    background-color: rgb(236, 112, 99, .8);
}

.div_form_pagar {
    margin-left: 15vw;
}

.form_pagar {
    max-width: 800px;
    min-width: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*
.input_pagar {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 5px 7px rgba(0, 0, 0, .3);
}
*/

.form_pagar label {
    font-weight: bold;
    margin-bottom: 10px;
}

.field-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.field-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
}

.grow0 { flex-grow: 0; }
.grow10 { flex-grow: 0.1; }
.grow20 { flex-grow: 0.2; }
.grow30 { flex-grow: 0.3; }
.grow40 { flex-grow: 0.4; }
.grow50 { flex-grow: 0.5; }
.grow60 { flex-grow: 0.6; }
.grow70 { flex-grow: 0.7; }
.grow80 { flex-grow: 0.8; }
.grow90 { flex-grow: 0.9; }
.grow100 { flex-grow: 1; }

.field-row > .field-col:not(:first-child) {
    margin-left: 1rem;
}

.field-col {
    margin-top: 1rem;
}

.form_pagar {
    display: flex;
    flex-direction: column;
}

.form_pagar input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.16);
    outline: none;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, .5);
}

.form_pagar input[type="submit"] {
    width: 20%;
}

.form_pagar input[type="radio"] {
    box-shadow: none;
    margin-bottom: 20px;
}

.linha_form_pagar {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, .2);
    height: 1px;
    border: none;
}

.input-comprar {
    margin-top: 1rem;
}

.edit-btn {
margin-bottom: 10px;
margin-top: 10px;
}
